#nav {
  background-color: #4c4c4c;
}

#nav-left {
  margin: 0;
  padding: 0 12px;
  font-size: 0;
  box-shadow: 0 1px 2px #000000a0;
}

#nav-left > li {
  display: inline-block;
  font-size: calc(18px + 0.3vw);
  line-height: 20px;
}

#nav-left > li:not(:last-child) {
  border-right: 1px solid #3a3a3aa0;
}

#nav-left > li:hover {
  background-color: #3a3a3a;
}

#nav-left > li:hover > ul {
  display: block;
}

#nav-left li a {
  display: block;
  padding: 16px 12px;
  color: #ffffff;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

#nav-left > li > ul {
  display: none;
  position: absolute;
  width: 150px;
  padding: 0;
  list-style: none;
  border-top: 1px solid #16161640;
  box-shadow: 0 1px 2px #000000a0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #525252;
}

#nav-left > li > ul > li {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#nav-left > li > ul > li > a {
  padding: 8px 12px;
}

#nav-left > li > ul > li:hover {
  background-color: #3a3a3a;
}

#nav-left > li > ul > li:not(:last-child) {
  border-bottom: 1px solid #3a3a3aa0;
}

#menu {
  display: none !important;
}

@media screen and (max-width: 800px) {
  #menu {
    display: inline-block !important;
  }
}
