body {
  margin: 0;
  font-size: 18px;
  background-color: #ffffff;
}

#nav {
  background-color: #505050;
}

#menu {
  margin: 0;
  padding: 0 12px;
  font-size: 0;
}

#menu > li {
  display: inline-block;
  font-size: 18px;
}

#menu > li:hover {
  background-color: #000000;
}

#menu > li:hover > ul {
  display: block;
}

#menu > li > a {
  display: block;
  padding: 16px 12px;
  color: #ffffff;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

#menu > li > ul {
  display: none;
  position: absolute;
  margin-top: 1px;
  padding: 0;
  list-style: none;
  background-color: #505050;
}
