body {
  margin: 0;
  font-size: 18px;
  background-color: #fcfcfc;
}

#tabs-container {
  display: flex;
  margin: 0.5em 0.5em 0 0.5em;
  font-size: 1.5em;
  text-align: center;
  width: fit-content;
  min-width: 200px;
  border-bottom: 1px solid #e1e1e1;
}

.tab {
  flex: 1;
}

.tab-value {
  padding: 2px;
  cursor: pointer;
}
